/.idea/
/node_modules/
/*.tgz
/.babelrc.*
/.alobuild.yml
/test/
/src/
/tslint.json
/tsconfig.*.json
/.travis.yml
/mocha.opts
/dist/**/*.js.map
/webpack.config.js
/yarn.lock
/git_gpg_keys.asc
/git_gpg_keys.asc.enc
/.releaserc.yml
/prepare-gpg-key.sh
/yarn-error.log
