{
  "reporter": [
    "text",
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts",
    ".js"
  ],
  "require": [
    "source-map-support/register"
  ],
  "exclude": [
    "**/test/**/*"
  ],
  "sourceMap": true,
  "instrument": true
}
